
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="{$site.route}img/favicon.png">
    <title>控制面板-{$site.title}</title>
	<script type="text/javascript" src="{$site.route}calendar/js/laydate.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{$site.route}css/bootstrap.min.css" rel="stylesheet">
    <link href="{$site.route}css/bootstrap-reset.css" rel="stylesheet">
    <link href="{$site.route}css/pagestyle.css" rel="stylesheet">
    <!--external css-->
    <link href="{$site.route}font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!--toastr-->
    <link href="{$site.route}toastr-master/toastr.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->

    <link href="{$site.route}css/style.css" rel="stylesheet">
    <link href="{$site.route}css/style-responsive.css" rel="stylesheet" />

    <script language="javascript" type="text/javascript" src="{$site.route}js/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="{$site.route}layer/layer.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="{$site.route}js/html5shiv.js"></script>
    <script src="{$site.route}js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="{:url('admin/index/index')}" class="logo">PHP<span>产品授权系统</span></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">

        </div>
        <div class="top-nav ">

            <!--search & user info start-->
<ul class="nav pull-right top-menu">
    <!-- user login dropdown start-->
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <!--<img alt="" src="assetsimg/avatar1_small.jpg">-->
            <span class="username">安全退出</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
            <div class="log-arrow-up"></div>
            <li><a href="{:url('admin/index/loginout')}"><i class="fa fa-key"></i> 退出 </a></li>
        </ul>
    </li>
    <!-- user login dropdown end -->
</ul>
<!--search & user info end-->

       </div>
</header>
