{include file='public/header'}
{include file='public/list'}   
<!--state overview end-->            
<div class="row">
                <div class="col-md-12">
                    <!--work progress start-->
                    <section class="panel">
                        <header class="panel-heading">
                        系统设置
                        </header>
                        <div class="panel-body">
	
           <form class="form-horizontal tasi-form" action="" method="post" id="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">站点标题</label>
                                        <div class="col-sm-10">
                                             <input type="text" name="title" class="form-control" value='{$basemsg.title}'>
                                        </div>
                                    </div>
									
                                  <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">css/js/img路径</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="route" class="form-control" value='{$basemsg.route}'>
											<span class="help-block">如果是二级目录的朋友，请加域名http://xxxx.com/xxx .</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">运行时间</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="yxtime" class="form-control" id="time1" value='{$basemsg.yxtime|date="Y-m-d",###}'>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">版权设置</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="copyright" clos="100" rows="3"/>{$basemsg.copyright}</textarea>
                                        </div>
                                    </div>




                                
			<div id="bottom" class="form-group">
			<label class="col-sm-2 col-sm-2 control-label"></label>
			  <a class="btn btn-info btn-lg" value="true" id="submit" onclick='set_edit()'/><i class="fa fa-refresh" id="spinner"></i> <span id="btnText">更新设置</span></a>
            </div>
                            </form>
                        </div>
                    </section>
                    <!--work progress end-->
                </div>

        </section>
    </section>
    <!--main content end-->
{include file='public/footer'}
<script type="text/javascript">
function set_edit(){
    var route = $("input[name='route']").val();
    if(route==''){
        layer.msg('静态文件路径不能为空!',{icon: 2,time:1000});
        return false;
    }
    $.ajax({
        type: 'post',
        url: '{:url("admin/config/setup")}',
        data: $('#form').serialize(),
        success: function(data){
            if(data.code==1){
                layer.msg(data.msg, 
                {icon:1,time:1000},function(){
                     window.location.href = data.url;});
            }else{
                layer.msg(data.msg, 
                {icon:2,time:1000});   
            }
        }
    });
}     
</script>