							
                        <div class="container-fluid"> 
								<a href="{$selfhelp.website}" target="_blank" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-credit-card"></span> 购买</a> 
								<a href="http://wpa.qq.com/msgrd?v=3&amp;uin={$selfhelp.qq}&amp;site=qq&amp;menu=yes" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-exclamation-sign"></span> 帮助</a>
         						<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#lxkf-1"><span class="glyphicon glyphicon-user"></span> 客服</button>
							<a href="http://wpa.qq.com/msgrd?v=3&amp;uin={$selfhelp.qq}&amp;site=qq&amp;menu=yes" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> 反馈</a> </div>
   <p style="text-align:center"><br>&copy; Powered by <a href="/">{$site.copyright}</a></p></div>
                    </section>
                    <!--work progress end-->
                </div>
				

        </section>
    </section>
    <!--main content end-->
</section>


<!-- js placed at the end of the document so the pages load faster -->
<script src="{$site.route}js/jquery.js" ></script>
<script src="{$site.route}js/bootstrap.min.js" ></script>
<script src="{$site.route}layer/layer.js" ></script>
<!--toastr-->
<script src="{$site.route}toastr-master/toastr.js" ></script>

<script type="text/javascript" src="{$site.route}jCryption/jquery.jcryption.3.1.0.js" ></script>
</body>
</html>
