{include file='public/header'}
{include file='public/list'}  
<!--state overview end-->           
 <div class="row">
<div class="col-lg-12">
                    <!--work progress start-->
                    <section class="panel">
                        <div class="panel-body progress-panel">
                            <div class="task-progress">
                                <h1>关于本系统</h1>
                                <p>PHP授权系统-一个真正完美的授权系统</p>
                            </div>
                        </div>
                        <table class="table table-hover personal-task">
                            <tbody>
                                <tr>

                                <td> <i class="fa fa-comments-o"></i>   版本 </td>

                                <td>

                                </td>
                                    <td>
                                    </td><td>
									<span id="edition"></span>
									beta 1.0
									</td><td>
                                    </td>

                                </tr>

                                <tr>

                                <td> <i class="fa fa-cloud-upload"></i>   历史 </td>

                                <td>

                                </td>
                                    <td>
                                    </td><td>
<textarea class="form-control" id="txtScript" cols="60" rows="6" readonly>1.使用Thinkphp5重构项目，前端沿用美轮的原版页面，后台逻辑代码全部重写，基本实现全栈Ajax
2.去除在线更新功能，保留后台的卡密生成和前台的自助激活
3.优化授权验证代码和接口
4.修复添加授权后，盗版记录仍然存在的问题
5.其他问题若干
                                    </textarea>
									</td><td>
                                    </td>

                                </tr>                   


                                <tr>

                                    <td> <i class="fa fa-smile-o"></i>   开发者</td>

                                    <td>

                                    </td>
                                    <td>
                                    </td><td>
									<span id="development"></span>
                                            Revise By 免贵姓操！ 
                                    </td><td>
                                    </td>

                                </tr>
								
                                <tr>

                                    <td> <i class="fa fa-folder-open-o"></i>   升级更新</td>

                                    <td>

                                    </td>
                                    <td>
                                    </td><td>
									<span id="upgrade"></span>
									敬请期待
                                    </td><td>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </section>
                    <!--work progress end-->
                </div>
				

        </section>
    </section>
    <!--main content end-->
        <!--main content end-->
    {include file='public/footer'}